# Created by .ignore support plugin (hsz.mobi)
*.d.ts
/lib/func/parse_url.js
/lib/core/index.js
/lib/save.js
/lib/event/done.js
/lib/greasemonkey/gm.js
/lib/greasemonkey/uf.js
/src/dmm-plus-sc/lib/metadata.js
/src/dmm-plus-sc/index.user.js
/lib/core/demo.js
/src/dmm-plus-sc/dmm.co.jp.js
/src/dmm-plus-sc/_fake.js
/src/dmm-plus-sc/game/canvas.js
/src/dmm-plus-sc/dmm/co/jp/games.js
/src/dmm-plus-sc/global/pc-play.js
/src/dmm-plus-sc/*.js
/src/dmm-plus-sc/**/*.js
!/src/dmm-plus-sc/index.js
/lib/dom/iframe.js
/test/
/lib/color/tag.js
/src/ux-tweak-sc/comic/rawdevart.js
/lib/dom/img/size.js
/lib/comic/style.js
